
.container {
    max-width: 100%;
}
   .imglogo
   {
   width: 150px;
   padding-top: 1rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
   flex-basis: 100%;
   }
   .button1
    {
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-left: 0.25rem;
    text-decoration: none;
    white-space: nowrap;
    flex: 0 0 auto;
    color: hsla(0.00,0.00%,100.00%,100%);
    border-radius: 20px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 14px;
    line-height: 14px;
    --u_lh: 14px;
    margin-right: 1rem;
    background: #5035ff;
    transition: none 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .button1:hover
  {
    border-bottom: inset;
  }
  .navbar{
    flex-direction: row;
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 66px;
    z-index: 800;
    align-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    background-color: #ffffffc9;
  }
.navbar-header {
      float: left;
  }
.navbar-header-right {
    float: right;
  }

ul{
  overflow:hidden;
}
li{
  display:inline-block;
}
a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.pro {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.text
{
  color: black;
    font-weight: 400;
    background-color: unset;
    text-align: left;
    border: initial;
    border-radius: 0px;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    border-bottom: 0px solid hsla(0.00,0.00%,100.00%,0%);
    transition: all 0.1s linear;
}
.text:hover
{
border-bottom: 3px solid black;
}
.text1
{
  color: black;
    font-weight: 400;
    background-color: unset;
    text-align: left;
    border: initial;
    border-radius: 0px;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    border-bottom: 0px solid hsla(0.00,0.00%,100.00%,0%);
    transition: all 0.1s linear;
}
.text1:hover
{
border-bottom: 3px solid black;
}

/**mobile view*/

@media only screen and (max-width: 600px)
{

  .container {
    max-width: 100%;
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
}
   .imglogo
   {
   width: 150px;
   padding-top: 1rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
   flex-basis: 100%;
   }
   .button1
    {
    display: none;
  }
  .button1:hover
  {
    border-bottom: inset;
  }
  .navbar{
    flex-direction: row;
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 800;
    align-content: center;
    align-items: center;
    height: calc(var(--u_hdh,1hdh) * 1);
    font-size: 1rem;
    line-height: 24px;
    --u_lh: 24px;
    color: black;
    display: inline-grid;
  }
.navbar-header {
      float: left;
  }
.navbar-header-right {
    float: right;
  }

ul{
  overflow:hidden;
  padding-inline-start: 1rem;
}
li{
  display:inline-block;
}
a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.pro {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.text
{
  color: black;
    font-weight: 400;
    background-color: unset;
    text-align: left;
    border: initial;
    border-radius: 0px;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    border-bottom: 0px solid hsla(0.00,0.00%,100.00%,0%);
    transition: all 0.1s linear;
}
.text:hover
{
border-bottom: 3px solid black;
}
.text1
{
 display: none;
}
.text1:hover
{
border-bottom: 3px solid black;
}
}
