<div class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="../../assets/dark-logo.svg" class="imglogo" ></a>
    </div>
    <div>
      <div class="navbar-header-right">
    <ul>
        <li class="button1"><a class="pro" href="#">Go Pro!</a></li>

          <li class="text" ><a href="#">All Course</a></li>

          <li class="text"><a href="#">Sign In</a></li>

          <li class="text1"><a href="#">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
