<img src="../../assets/shape-baby.svg" class="image1 shape1" width="328" height="295" fill="none">
<img src="../../assets/shape-baby.svg" class="image2 shape2" width="199" height="327" fill="none">
<img src="../../assets/peep-guy-macbook.svg" class="image3 shape3" width="199" height="327" fill="none">
<header>

<h1>Don't spend $15,000 on a coding bootcamp</h1>
<h5>Our career path helps motivated students become hireable frontend developers for 1% of the cost</h5>
<button class="btn-lg btn-primary"><a href="#" class="btn-btn">Try it out now!</a></button>
</header>
