<img src="../../assets/shape-baby.svg" class="image1 shape1" width="328" height="295" fill="none">
<img src="../../assets/shape-baby.svg" class="image2 shape2" width="199" height="327" fill="none">
<img src="../../assets/peep-guy-macbook.svg" class="image3 shape3" width="199" height="327" fill="none">
<header>

<h1 class="headerh1">Don't spend $15,000 on a coding bootcamp</h1>
<h5 class="headerh5">Our career path helps motivated students become hireable frontend developers for <b>1% of the cost</b></h5>
<button class="btn-lg btn-primary"><a href="#" class="btn-btn">Try it out now!</a></button>
</header>
<div class="container sec1">
<div class="row">

    <div class="imagesofbeardmanandgirl">
    <img src="../../assets/peep-girl-wheelchair.svg" class="img3">
    <img src="../../assets/peep-man-bearded.svg" class="img4" style="height: 250px; width: 120px;">
    </div>

    <div class="columns">
    <h3 class="leftpad">A coding community like no other</h3>
    <h5 class="leftpad1">Not a boring forum. But live events, stand-ups, competitions, and more.</h5>
  </div>
  <div class="columns">
    <h3 class="leftpad">A mind-blowing way to learn to code</h3>
    <h5 class="leftpad1">Our interactive code-learning tool has been <a href="#">blowing minds</a> since 2017.</h5>
</div>
</div>
</div>
