.home-heading-shadow {
  text-shadow: 4px 4px #fff;
}

.home-text-shadow {
  text-shadow: 1px 2px #fff;
}

.btn-visit-path {
  background-color: #5035ff;
  border-color: #5035ff;
  box-shadow: 0 0 20px #eee;
}

.btn-visit-path:hover,
.btn-visit-path:focus,
.btn-visit-path:active {
  background-color: #5035ff;
  border-color: #5035ff;
}
.hero-content {
    position: relative;
    overflow: hidden;      /* prevents horizontal scrollbar */
    isolation: isolate;
}

.hero-blob {
    position: absolute;
    top: 50%;
    left: 60%;

    transform: translate(-50%, -50%);
    opacity: 0.5315;
    width: min(65%, 450px);
    height: auto;

    z-index: -1;
    pointer-events: none;
    transform-origin: 50% 16%;
}
.hero-content:hover .hero-blob{
	-webkit-animation: kenburns-top-no-shift 5s ease-out both;
	        animation: kenburns-top-no-shift 5s ease-out both;
}

@-webkit-keyframes kenburns-top-no-shift {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.125);
            transform: translate(-50%, -50%) scale(1.125);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
}

@keyframes kenburns-top-no-shift {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.125);
            transform: translate(-50%, -50%) scale(1.125);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
}



.comment-boy-img {
  width: 280px;
  height: 357px;
}

.comment-heading {
  font-size: 1.9rem;
}

.comment-text {
  border-left: 5px solid #c6b8ff;
}

.comment-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-shadow-pop-top:hover .section-item-heading-primary {
	-webkit-animation: text-shadow-pop-top 0.6s both;
	        animation: text-shadow-pop-top 0.6s both;
}
@-webkit-keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}
@keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}


.section-1 {
    width: 90%;
}

.section-heading {
    font-size: 2rem;
}

.section-1-line {
    width: 30%;
    position: absolute;
    left: 153px;
    top: 25px;
}

.section-item-heading-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* small background behind the number */
.section-item-heading-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(30%, 140px);
    height: auto;
    opacity: 0.95;
    pointer-events: none;
    z-index: 0;
}

.section-item-heading-primary {
    position: relative;
    z-index: 1;

    font-size: 3.5rem;
    color: #fff;
    -webkit-text-stroke: 1px #fff;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.section-item-heading-secondary {
    font-size: 2rem;
}

.section-link {
    color: #5035ff;
}

.section-img {
    height: 180px;
    object-fit: cover;
    transform: rotate(-5deg);
    margin-top: 1rem;
}
.section-2,
.section-3 {
    width: 90%;
}

.section-3-bg {
    position: absolute;
    top: 20px;
    left: 100px;
    opacity: .15;
    width: 40%;
}

.section-link {
    color: #5035ff;
}

.section-4,
.section5 {
    width: 90%;
}

.section-4-bg {
    position: absolute;
    top: 20px;
    left: 100px;
    width: 45%;
    opacity: .15;
}

.section-link {
    color: #5035ff;
}

.section6 {
    width: 100%;
    height: 50vh;
    background-color: #dceae0;
    clip-path: polygon(
        50% 1%,
        72% 0,
        100% 1%,
        100% 100%,
        78% 99%,
        55% 100%,
        22% 99%,
        0 100%,
        0 1%,
        22% 0
    );
}
