<div class="container">
    <div>
        <div class="mt-4 text-end d-flex align-items-center">
            <div class='w-25'>
            <!-- <img src="/assets/home/blob3.svg" /> -->
             </div>
            <div class="w-75 hero-content">
                <img src="/assets/home/blob1.svg" class="hero-blob" alt="" aria-hidden="true">

                <h3 class="fs-2">
                    Featured Path:<span>Frontend Developer</span>
                </h3>

                <h2 class="display-1 fw-semibold my-4 home-heading-shadow">
                    Don't waste $15K on a coding bootcamp
                </h2>

                <p class="fs-3 ms-3 mb-3 home-text-shadow">
                    Our Frontend Career Path helps motivated students become hireable developers for 1% of the price
                </p>

                <a [routerLink]="['/courses']" class="btn btn-primary px-3 py-2 fs-4 fw-semibold btn-visit-path">
                    Visit Path
                </a>
            </div>


        </div>
        <img class="w-100 img-fluid" src="/assets/peep-crowd.svg" alt="Peep crow">
    </div>
    <div class="my-3 w-100">

        <div class="d-flex py-5">
            <div class="comment-item-1">
                <img class="comment-boy-img ms-5 border border-5 border-white rounded" src="/assets/home/aldhair.svg"
                    alt="Aldhair">
            </div>
            <div class="comment-item-2">
                <h3 class="comment-heading fw-semibold m-4">
                    From cruise ship worker to remote web developer in just 5 months
                </h3>
                <p class="comment-text ps-4 mb-3 ms-3 me-2 fst-italic fw-normal fs-3">
                    I worked as a cleaner at a cruise ship when covid hit, and crushed the industry.
                    So in July 2020, I started learning to code on Scrimba. Five months later, I got
                    a job as a remote web developer for a SF-based startup. Scrimba has changed my life!
                </p>
                <span class="fs-3">MX</span>
                <span class="fs-6 mx-3 fw-light">Mexico</span>
                <span class="d-none">Aldhair Escobar</span>
            </div>
        </div>
    </div>

    <h2 class="section-heading text-center fs-1">
        This is the Scrimba way
    </h2>

    <div class="row justify-content-between align-items-center">
        <div class="col-6 text-shadow-pop-top">
            <div class="section-item-heading-wrapper">
                <img class="section-item-heading-bg" src="/assets/home/Dual_blob_5.svg" alt="" aria-hidden="true">
                <h2 class="section-item-heading-primary text-center fw-bold mb-4">1</h2>
            </div>
            <h3 class="section-item-heading-secondary fw-normal fs-1 mb-4 mb-2">
                Learn faster with interactive screencasts
            </h3>
            <p class="section-item-text-primary fs-5 lh-base mb-0">
                Our interactive screencasts let you edit the code whenever you want,
                just as if you were pair programming with the teacher. As a result,
                you will code more and learn faster.
            </p>
            <br>
            <p class="section-item-text-secondary fs-5 lh-base mb-0">
                Give it a test drive
                <a href="#" class="text-decoration-none section-link">
                    here
                </a>
            </p>
        </div>

        <div class="col-6">
            <img class="img-fluid" src="/assets/home/m1.jpeg" />
        </div>
    </div>

    <div class="row justify-content-between align-items-center">
        <div class="col-6">
            <img class="img-fluid" src="/assets/home/Zebra Family Illustration.png" />

        </div>
        <div class="col-6 text-shadow-pop-top">
            <div class="section-item-heading-wrapper">
                <img class="section-item-heading-bg" src="/assets/home/Dual_blob_4.svg" alt="" aria-hidden="true">
                <h2 class="section-item-heading-primary text-center fw-bold mb-4">2</h2>
            </div>
            <div class="section-bg"></div>
            <h3 class="section-item-heading-secondary fw-normal fs-1 mb-4">
                Get help and support from your peers
            </h3>
            <p class="section-item-text-primary fs-5 lh-base mb-4">
                Right now, there are over 1,000 Scrimba students online in our community
                chat. It's a friendly space where you can ask for help, share your code,
                get career advice, and meet like-minded people.
            </p>
            <p class="fs-5 mb-0">
                Jump into the
                <a href="#" class="text-decoration-none section-link">
                    Discord
                </a>
            </p>
        </div>

    </div>

    <div class="row justify-content-between align-items-center">
        <div class="col-6 text-shadow-pop-top">
            <div class="section-item-heading-wrapper">
                <img class="section-item-heading-bg" src="/assets/home/Dual_blob_3.svg" alt="" aria-hidden="true">
                <h2 class="section-item-heading-primary text-center fw-bold mb-4">3</h2>
            </div>
            <h3 class="section-item-heading-secondary fw-normal fs-1 mb-4 mb-2">
                Hack your way to your first developer job
            </h3>
            <p class="section-item-text-primary fs-5 lh-base mb-4">
                In addition to web development, our career path teaches you how to get
                your first job. You will build a portfolio, improve your LinkedIn,
                practice coding interview questions, and much more.
            </p>
            <p class="fs-5 mb-0">
                Check out the full curriculum
                <a href="#" class="text-decoration-none section-link">
                    here
                </a>
            </p>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="/assets/home/Giraffe Family Illustration.png" />

        </div>
    </div>

    <div class="row justify-content-between align-items-center">
        <div class="col-6">
            <img class="img-fluid" src="/assets/home/t1.jpeg" />
        </div>
        <div class="col-6 text-shadow-pop-top">
            <div class="section-item-heading-wrapper">
                <img class="section-item-heading-bg" src="/assets/home/Dual_blob_1.svg" alt="" aria-hidden="true">
                <h2 class="section-item-heading-primary text-center fw-bold mb-4">4</h2>
            </div>
            <div class="section-4-bg"></div>
            <h3 class="section-item-heading-secondary fw-normal fs-1 mb-4 mb-2">
                Live events to help you stay consistent
            </h3>
            <p class="section-item-text-primary fs-5 lh-base mb-4">
                Learning to code alone is hard. To help you stay on track, we arrange
                fireside chats, expert interviews, coding competitions, and more every
                day from Tuesday to Friday.
            </p>
            <p class="fs-5 mb-0">
                See this week's events in the
                <a href="#" class="text-decoration-none section-link">
                    dashboard
                </a>
            </p>
        </div>

    </div>
    <div class="row justify-content-between align-items-center">
        <div class="col-6 text-shadow-pop-top">
            <div class="section-item-heading-wrapper">
                <img class="section-item-heading-bg" src="/assets/home/Dual_blob_2.svg" alt="" aria-hidden="true">
                <h2 class="section-item-heading-primary text-center fw-bold mb-4">5</h2>
            </div>
            <h3 class="section-item-heading-secondary fw-normal fs-1 mb-4 mb-2">
                Meet the world's best coding teachers
            </h3>
            <p class="section-item-text-primary fs-5 lh-base mb-0">
                We have handpicked the best teachers for each subject and combined them
                into one experience. You get to code alongside experts like
                <span class="fw-semibold">Gary Simon</span>,
                <span class="fw-semibold">Cassidy Williams</span>,
                and
                <span class="fw-semibold">Kevin Powell</span>,
                who have a combined following of over one million students.
            </p>
        </div>
        <div class="col-6">
           <img class="img-fluid" src="/assets/home/h1.jpeg" />

        </div>
    </div>